$base__body__color: #ffffff;
//=====================Header=====================
$site-nav-block-color: #ffffff;
$header-block-color: #293135;
$site-nav-text-color: #828588;
$sub-title-text-color: #c1c2c3;
$title-text-color: #c5c98b;
$header-button-hover-color: #9ea167;
$site-nav-link-hover-color: #ff230c;
