.button-bay {
  width: 128px;
  height: 38px;
  border: 2px #ffffff solid;
  border-radius: 19px;
  background-color: transparent;
  @include font-settings(0.875rem, 1.2, 400, #ffffff);
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;

  &:hover {
    background-color: $header-button-hover-color;
    box-shadow: $title-text-color 1px 0 10px;
  }
}
