.container {
  margin: 0 auto;
  @media screen and (max-width: $mobile-bp-max) {
    // width: 100%;
    width: $mobile-w-min;
  }
  @media screen and (min-width: $tablet-bp-min) {
    width: $tablet-w;
  }
  @media screen and (min-width: $desktop-bp-min) {
    width: $desktop-w;
  }
}

.container-bottom-section {
  margin: 0 auto;
  @media screen and (max-width: $mobile-bp-max) {
    // width: 100%;
    width: $mobile-w-min;
  }
  @media screen and (min-width: $tablet-bp-min) {
    width: $tablet-w;
  }
  @media screen and (min-width: $desktop-bp-min) {
    width: $desktop-bottom-section;
  }
}
